@use "@/styles/components/global.scss" as *;

.customize-modal {

    .modal-body {
        min-height: 500px;

        .dropdown-item.disabled {
            opacity: 0.5;
        }
    }

    .scene-preview {
        background-color: black;
        aspect-ratio: 1 / 1;
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: 300px;
            height: 300px;
        }
    }

}