@use "@/styles/components/global.scss" as *;

.game-over-modal,
.game-over-modal-backdrop {
    --bs-modal-zindex: 1;
    --bs-backdrop-zindex: 1;
    height: initial;
    bottom: 50px !important;

    &.sidebar-enabled {
        bottom: 0px !important;
        left: 300px !important;
        // @include media-breakpoint-up(lg) {
        //     bottom: 0px!important;
        //     left: 300px!important;
        // }
    }

    .reward-item {
        width: 100%;

        .reward-progress-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            // height: 2px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            position: relative;

            // .bar,
            // .current {
            //     position: absolute;
            //     left: 0;
            //     width: 100%;
            //     top: 20px;
            //     background-color: white;
            //     height: 2px;
            // }

            .bar {
                position: absolute;
                left: 0;
                width: 100%;
                top: 20px;
                background-color: var(--bs-body-color);
                height: 2px;
            }

            .current {
                position: absolute;
                top: 10px;
                color: yellow;
                -webkit-text-stroke: 1px black;
            }

        }
    }

}

.game-over-modal {
    // background-color: aquamarine;
}

.game-over-modal-backdrop {
    // background-color: aquamarine;
}