@use "@/styles/components/global.scss" as *;

.game-over-modal,
.game-over-modal-backdrop {
    --bs-modal-zindex: 1;
    --bs-backdrop-zindex: 1;
    height: initial;
    bottom: 50px!important;

    &.sidebar-enabled {
        bottom: 0px !important;
        left: 300px !important;
        // @include media-breakpoint-up(lg) {
        //     bottom: 0px!important;
        //     left: 300px!important;
        // }
    }

}

.game-over-modal {
    // background-color: aquamarine;
}

.game-over-modal-backdrop {
    // background-color: aquamarine;
}