@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;

@use "./pages/landing" as *;
@use "./pages/game" as *;

i {
  margin-right: 0.2rem;
}

button,
.btn {
  white-space: pre;
  font-size: 0.7rem !important;
}

.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}

[data-bs-theme="dark"] {

  button:focus,
  input:focus,
  a:focus {
    outline: 3px solid #ffffff !important;
    outline-offset: 2px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    z-index: 10;
    position: relative;
  }
}

button:focus,
input:focus,
a:focus {
  outline: 3px solid #000000 !important;
  outline-offset: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  z-index: 10;
  position: relative;
}